<div ng-app="foodListApp" ng-controller="FoodListCtrl">
    <table class="table">
        <thead>
        <tr>
            <th>姓名</th>
            <th>食物</th>
            <th>数量</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control" ng-model="food.name"></td>
            <td><input class="form-control" ng-model="food.food"></td>
            <td><input class="form-control" ng-model="food.quantity"></td>
            <td>
                <button class="btn btn-primary" ng-click="addFood()">添加食物</button>
            </td>
        </tr>
        <tr ng-repeat="food in foodList">
            <td>{{food.name}}</td>
            <td>{{food.food}}</td>
            <td>{{food.quantity}}</td>
            <td>
                <button class="btn btn-danger" ng-click="removeFood(food._id)">删除食物</button>
                <button class="btn btn-primary" ng-click="editFood(food)">编辑食物</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
