<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">  <!--controller in this view can be thus used-->
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="angular-route.js"></script>
    <script type="text/javascript" src="js/editor.js"></script>
</head>

<body ng-app="toolTipApp">
<div ng-controller="ToolTipCtrl" ng-click="hideToolTip()" >
    <div ng-show="showToolTip" ng-click="$event.stopPropagation()">
        <input type="text" ng-model="myInput" />
    </div>
    <p ng-click="toogleToolTip($event)">{{myInput}}</p>
</div>



</body>
</html>