<!DOCTYPE html>
<html>
<head lang="en">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="js/orderForm.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>

<body ng-app="orderApp">
    <ul ng-controller="orderCtrl">
        <li ng-repeat="pricePair in priceList" ng-click="toggleActive(pricePair)">
            {{pricePair.name}} <span>{{pricePair.price}}</span>
        </li>
        <li>Total:  {{total}}</li>
    </ul>
</body>
</html>