<!DOCTYPE html>
<html ng-app="test4App" xmlns="http://www.w3.org/1999/html">  <!--controller in this view can be thus used-->
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../angular.js"></script>
    <script type="text/javascript" src="../../angular-route.js"></script>
    <script type="text/javascript" src="js/test4.js"></script>
</head>
<body ng-controller="MyCtrl">

<kid done="showChore(message)"></kid>
<button ng-click="$log.debug($event)"> click event {{buttonname}}</button>


</div>
</body>
</html>