<!DOCTYPE html>
<html ng-app="test1App" xmlns="http://www.w3.org/1999/html">  <!--controller in this view can be thus used-->
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS test</title>
    <script type="text/javascript" src="../../angular.js"></script>
    <script type="text/javascript" src="../../angular-route.js"></script>
    <script type="text/javascript" src="js/calSquareCube.js"></script>
</head>
<body>

<div ng-controller="CalController">
    <div> Enter a number:
        <input type="text" data-ng-model="value">
        <button ng-click="doSquare()">X<sup>2</sup></button>
        <button ng-click="doCube()">X<sup>3</sup></button>
        Answer: <a>{{result}}</a>
    </div>
</div>

</body>
</html>