<!DOCTYPE html>
<html ng-app="test2App" xmlns="http://www.w3.org/1999/html">  <!--controller in this view can be thus used-->
<head lang="en">
    <meta charset="UTF-8">
    <title>Telephone demo</title>
    <script type="text/javascript" src="../../angular.js"></script>
    <script type="text/javascript" src="../../angular-route.js"></script>
    <script type="text/javascript" src="js/saveContact.js"></script>
</head>
<body>

<div ng-controller="ContactController">
    <form>
    <div>
        <input type="hidden" data-ng-model="newContact.id">
    </div>
    <div>
        Name:
        <input type="text" data-ng-model="newContact.name">
    </div>
    <div>
        Email:
        <input type="text" data-ng-model="newContact.email">
    </div>
    <div>
        Phone:
        <input type="text" data-ng-model="newContact.phone">
    </div>
    <div>
        <button data-ng-click="saveContact()"> Save </button>
    </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="cont in contacts">
                <td>{{cont.name}}</td>
                <td>{{cont.email}}</td>
                <td>{{cont.phone}}</td>
                <td> <a href="javascript:void(0)" data-ng-click="deleteContact(cont.id)">delete</a>
                    | <a href="javascript:void(0)" data-ng-click="editContact(cont.id)">edit</a>
                    | <a href="#/viewDetail">view Detail</a></td>
            </tr>
        </tbody>

        <div ng-view=""></div>
    </table>
</div>
</body>
</html>