<div class="container">
    <h2> View 1</h2>
    Name:
    <br/>
    <input type="text" data-ng-model="filter.name" />
    <br/>
    <ul>
        <li data-ng-repeat="cust in customers | filter: filter.name | orderBy: 'note'"> {{cust.name}} - {{cust.city}} - {{cust.note}} </li>
    </ul>

    <br/>
    Customer Name: <br/>
    <input type="text" data-ng-model="newCustomer.name" />
    <br/>
    Customer City: <br/>
    <input type="text" data-ng-model="newCustomer.city" />
    <br/>
    Customer Note: <br/>
    <input type="text" data-ng-model="newCustomer.note" />
    <br/>
    <button data-ng-click="addCustomer()">Add Customer</button>
    <br/>
    <a href="#/View2">View 2</a>
</div>